body {
    margin: 10px;
}

/* .box {
    background: linear-gradient(135deg, red, blue);
    width: 200px;
    height: 200px;
} */

.box {
    background: radial-gradient(circle at top, red, blue);
    width: 900px;
    height: 300px;
}