body {
    margin: 10px;
}

p {
    color: brown;
}

/* article :first-child {
    font-size: 140%;
    font-style: italic;
} */

article :last-child {
    font-weight: bold;
}

ul :nth-child(3n) {
    color: deeppink;
}

a:visited,
a:link {
    color: green;
}

a:hover,
a:focus {
    color: blueviolet;
}