body {
    margin: 10px;
    font-size: 62.5%;
    height: 200vh;
}

.container {
    display: grid;
    grid-template: 100px auto 100px / 30fr 70fr;
    border: 3px solid lightgray;
    height: 100vh;
    gap: 10px;
    grid-template-areas: "header header" "sidebar main" "footer1 footer2";
}

.box {
    background-color: gold;
}

.box-1 {
    grid-area: header;
}

.box-2 {
    grid-area: footer1;
}